
html,body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}


body {
    background: url(/photos/background.jpg) no-repeat #64394d;
    background-size:cover;
}



.car {
    
    position: absolute;
    animation-name: movement;
    
}

@keyframes movement {
    from {left: 0;}
    to {left: 100%;}
}
